version: '3'
services:
  web:
    image: polarsquad/hello-world-app
    build: .
    ports:
     - "3000:3000"
  redis:
    image: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  redis-data: